<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Главная страница</h1>
        <div class="text-center">
            <a href="/currency-rates" class="btn btn-primary btn-lg m-2">Посмотреть курсы валют</a>
            <a href="/country-currencies" class="btn btn-secondary btn-lg m-2">Посмотреть валюты стран</a>
            <a href="/currency-changes" class="btn btn-info btn-lg m-2">Посмотреть график относительного изменения курсов валют</a>
        </div>
    </div>
</body>
</html>
